
@{
    ViewData["Title"] = "Категории";
}

<h3>Категории</h3>
<hr/>
<table class="table">
    <thead>
        <tr>
            <td>Название</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (string title in ViewBag.List)
            {
                <tr>
                    <td>@title</td>
                    <td>
                        <a href="~/category/edit/@title" class="btn btn-outline-info mr-2">Изменить</a>
                        <a href="~/category/delete/@title" class="btn btn-outline-danger" onclick="alert('Подтвердите действие');">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a href="~/category/add" class="btn btn-outline-success">Добавить</a>



