
@{
    ViewData["Title"] = "Корзина";
}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Количество</td>
                    <td>Действие</td>
                </tr>
            </thead>
            <tbody>
                @{

                    foreach (CartLine line in ViewBag.Cart.Lines)
                    {
                        <tr>
                            <td>
                                @line.Product.Title
                            </td>
                            <td>
                                @line.Amount
                            </td>
                            <td>
                                <a class="btn btn-light" href="~/cart/delete/@line.Product.Title">Удалить</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{

            if (ViewBag.Cart.Lines.Count > 0)
            {
                <table class="table mt-5">
                    <tbody>
                        <tr>
                            <td>Общая сумма заказа</td>
                            <td class="ml-2">@ViewBag.Cart.ComputeTotalValue()</td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-dark text-light" href="~/cart/order/">Заказать</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            }

        }
    </div>
