
@{
    ViewData["Title"] = "Заказ";
}

@{
    if (ViewBag.Status)
    {
        <h3 class="text-center">Ваш заказ оформлен.</h3>
        <h4 class="text-center">В ближайшее время с Вами свяжется администратор для уточнения деталей заказа.</h4>
    }
}

