@model EcoStore.Web.Models.LoginModel

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Вход на сайт</h3>
    </div>
    <div class="card-body">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div asp-validation-for="Info" />
            <div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label">Введите логин</label>
                    <input type="text" asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Введите пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-outline-success" />
                    <a class="btn btn-outline-info ml-3" asp-action="Register" asp-controller="Account">Регистрация</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}