
@{
    ViewData["Title"] = "Админка";
}

    <div class="list-group">
        <a href="~/account/list/1" class="list-group-item list-group-item-action">Управление пользователями</a>
        <a href="~/category/list" class="list-group-item list-group-item-action">Управление категориями</a>
        <a href="~/product/list/1" class="list-group-item list-group-item-action">Управление товарами</a>
        <a href="~/review/list/1" class="list-group-item list-group-item-action">Управление отзывами</a>
        <a href="~/order/list/1/false" class="list-group-item list-group-item-action">Управление заказами</a>
        <a href="~/dataExchange/index" class="list-group-item list-group-item-action">Импорт/экспорт товаров</a>
    </div>
