@{
    ViewData["Title"] = "Главная";
}

<link href="~/css/Slideshow.css" rel="stylesheet" />
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link href="~/css/icons.css" rel="stylesheet" />

<div class="text-dark text-center">
    <h3 >Добро пожаловать в Ecoteria</h3>
</div>
<br />
<div class="slideshow-container">

    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/img_lights_wide.jpg" style="width:100%">
        <div class="text">природа</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img src="~/img_nature_wide.jpg" style="width:100%">
        <div class="text">природа</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img src="~/img_snow_wide.jpg" style="width:100%">
        <div class="text">природа</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>
<br />
<br />
<div class="text-center">
    <h5 class="text-dark text-center">Ecoteria - это уникальный проект, который дает возможность пользоваться экологическими продуктами, не жертвуя при этом привычным удобством.</h5>
    <h5 class="text-dark text-center">Присоединяйся к нам на всех платформах!</h5>
</div>
<br/>
<hr/>
<br />
<center>
<div class="container">
    <ul class="socialIcons">
        <li><a href="#" class="facebook"><i class="fa fa-facebook "></i></a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/ecoteria_store?igshid=7vo46i6wv8g6" class="instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" class="googlePlus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>
</center>
<script src="~/js/Slideshow.js"></script>